PORT=5000
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=expensewise
JWT_SECRET=expensewise_jwt_access_secret_key_change_me
JWT_REFRESH_SECRET=expensewise_jwt_refresh_secret_key_change_me
NODE_ENV=development
